[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
ipdb = "*"
ipython = "*"
twine = "*"
pytest = "*"
pytest-flake8 = "*"
pytest-cov = "*"
wheel = "*"

[packages]
Werkzeug = "*"
